@font-face {
    font-family: FreePixel;
    src: url('./assets/fonts/FreePixel.ttf');
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: FreePixel, Courier, sans-serif;
    /* image-rendering: pixelated;
    zoom: 3 */
}

:root {
    --theme-smooth-animation-time: 200ms;
}

.theme-smooth-transition {
    transition: background-color var(--theme-smooth-animation-time) ease-in-out;
}
